/*---------------------------- COLOR ----------------------------*/
$main : #1c226c;
$sub: #a03030;
$white : #fff;
$black: #333;
$gray : #999;
$red: darkred;
$blue: darkblue;
/*---------------------------- 반응형 ----------------------------*/
$b-web: 1200px;
$b-tab: 900px;
$b-mo: 600px;
$b-sm-mo: 360px;

$zIndex-set: (
  popup: 100,
  fixed: 20,
  header: 10,
  double: 2,
  default: 1,
  zero: 0,
  minus: -1,
);

$path-set: (
  icon: "../img/icon/",
  img: "../img/",
  logo: "../img/logo/",
  object: "../img/object/",
);
