
/* =================== BUTTON =================== */
.btn,button{
  margin: 0 1em;
  display: inline-block;
  position: relative; z-index: 1;
  top: 0;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  border-radius: 5px;
  font: 500 1rem/1 "Noto Sans KR";
  box-sizing: border-box;
  color: #fff;
  &.w100{
    width: 100%;
  }
  &::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #000;
    /* background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%); */
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
    opacity: 0.1;
  }
  &:hover,&.hover{ 
    top: -0.3125rem;
    color: #fff;
  }
  &:hover::after{
    top: 0;
    height: 100%;
  }
}

$btn-colors: (
  bg-default: (
    bg-color: transparent,
    color:$black,
    bd-color: #333,
  ),
  bg-main: (
    bg-color: $main,
    color:$white,
  ),
  bg-red:(
    bg-color:$red,
  ),
  bg-blue:(
    bg-color:$blue,
  )
);

@each $key, $value in $btn-colors {
  .#{$key} {
    background-color: map-get($value, bg-color);
    color: map-get($value, color)!important;
    border: 1px solid map-get($value, bd-color);
  }
}

$btn-sizes: (
  size-sm: (
    padding: 0.6em 2.2em,
    size : 0.8rem,
  ),
  size-mid: (
    padding: 0.8rem 2.5rem,
    size : 1rem,
  ),
  size-lg: (
    padding:1.25rem 3.75rem,
    size : 1.125rem,
    font-w : 400,
  ),
  size-xlg: (
    padding: 1.5rem 4.2rem,
    size:1.5625rem,
  )
);

@each $key, $value in $btn-sizes {
  .#{$key} {
    padding: map-get($value, padding)!important;
    font-size: map-get($value, size)!important;
    font-weight: map-get($value, font-w)!important;
  }
}

$btn-radius: (
  r-none:(
    radius: 0px,
  ),
  r-sm: (
    radius: 0.3125rem,
  ),
  r-mid: (
    radius: 1.25rem,
  ),
  r-lg: (
    radius: 1.875rem,
  ),
);

@each $key, $value in $btn-radius {
  .#{$key} {
    border-radius: map-get($value, radius)!important;
  }
}

.btn.btn-outline {
  background: transparent;
  border: 1px solid #5f8ee4;
  color: #333!important;
}

.btn.btn-disabled {
  opacity: 0.6;
  cursor: default;
}

//////////////////////////////////// //BUTTON TYPE ////////////////////////////////////
/// 